<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>suppose</title>
</head>
<body>
    <div>
        <h1>About <%= name %> </h1>
        <p>Salam: <br>
                My name <%= name %> and my father name is <%= fName %>. So in this way i dont say me but i say <%= name %>   </p>
    </div>
</body>
</html>